<!-- index.html (Frontend) -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unsubscribe Dashboard</title>
  </head>
  <body>
    <a href="{{ url_for('logout') }}">Logout</a>
    {% for header in header_dict %}
      <div>
        {% for link in header['header'] %}
        <a href="{{link.strip('<').strip('>')}}">{{ link.strip().split('/')[2] }}</a>
        {% endfor %}
      </div>
      <hr>
    {% endfor %}
  </body>
</html>
